* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.hero-content-area {
  opacity: 0;
  animation: 0.5s fade 0.5s forwards;
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}

.screenshot {
  max-width: 400px;
  margin: 0 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #3fc4df;
  opacity: 1;
  padding: 20px 160px;
}

.col {
  flex-basis: 50%;
}

.col-center {
  text-align: center;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 200px;
}

section:not(.hero) {
  background-color: #95d8e6;
}

section:not(.hero):nth-child(even) .grid {
  flex-direction: row;
}

section:not(.hero):nth-child(even) {
  background-color: #e7f5f9;
}

section h3 {
  margin-bottom: 20px;
  max-width: 775px;
  text-align: left;
  text-transform: uppercase;
}

section p {
  max-width: 775px;
  line-height: 1.5;
  text-align: left;
  margin-right: 40px;
}

section p + p {
  margin-top: 20px;
}

.info {
  padding-right: 40px;
}

.info h4 {
  text-align: left;
  margin: 20px 0 5px;
}

.info h4::before {
  color: #41c3de;
  content: "▶";
  margin-right: 10px;
}

.info p {
  margin-left: 24px;
}

.logo_sub {
  margin: 10px;
}

h1 {
  font-size: 5rem;
  margin: 60px 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #41c3de;
  color: #fff;
  padding: 10px 0;
}

@media screen and (max-width: 800px) {
  section {
    padding: 50px;
  }
  img {
      max-width: 280px;
  }
  .col {
    flex-basis: 100%;
  }

  a.btn {
    padding: 20px;
  }

  .info {
    padding-right: 0;
  }

  .screenshot {
    margin-bottom: 50px;
  }

  section p {
    margin-right: 0;
  }
  
}