body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

main {
  margin-top: 64px;
  padding: 6px 24px;
}

main h2 {
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 0;
}

.nav-logo {
  height: 32px;
  padding-top: 16px
}